/* <3 sylesheets */
html {
	height: 100%;
	background: #333;
	color: #eee;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.clearfix {
	clear: both;
	display: none;
}

.song-mask {
	position: absolute;
	top: 3.2em;

	left: 0;
	right: 0;
	bottom: 0;

	background: black;
	opacity: 0.5;
}

.song-real-image {
	margin: auto;
	width: 300px;
	height: 300px;

	background: black;
}

audio {
	display: block;
	margin: auto;
	margin-top: 1.4em;
}

.audio-container button {
	display: block;
	margin: auto;

	margin-top: 0.8em;
}


.song-image {
	position: absolute;
	top: 4em;

	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
}

.song-text {
	margin-top: 1em;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Courier New';
}

.song-city {
	margin-top: 1em;
	text-align: center;
	font-size: 2.4em;
	font-family: 'Courier New';
}

.titlebar {
	font-size: 2em;
	text-align: center;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	height: 1.2em;
	padding: 0.2em 0;
	z-index: 2;
	background: black;
	opacity: 0.7;
}


#map-canvas {
	width: 100%;
	height: 100%;
}

.audio-player {
	margin-bottom: 1em;
}

body[data-location-state=following] .resume-following {
	display: none;
}

body:not([data-location-state=following]) .while-following {
	display: none;
}

.artist-lookup form {
	display: inline-block;
}

.position-status {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	
	font-size: 1.5em;
}


.floats {
	display: none;
	position: relative;
}

.floats > * {
	float: left;

	height: 384px;
	width: 384px;

	margin: 4px;
	padding: 2px;

	
	background: black;

}

.song-real-image .artist-info, .track-info {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.meta-info {
	text-align: center;
	text-shadow: 5px 1px 28px rgba(0, 0, 0, 1);

	font-size: 1.6em;

	background: rgba(0,0,0,0.5);
	padding: 6px;
}

.playlist {
	overflow: auto;
}

body[data-view-mode=map] .song-mask, body[data-view-mode=map] .song-text, body[data-view-mode=map] .song-city, body[data-view-mode=map] button {
	display: none;
}
body[data-view-mode=map] .song-image {
	visibility: hidden;
}

body[data-view-mode=map] .audio-container {
	visibility: visible;

	position: absolute;
	height: 64px;
	bottom: 0;
	left: 64px;
	right: 0px;

	background: black;
	opacity: 0.7;
}

body[data-view-mode=map] .song-real-image {
	visibility: visible;

	position: absolute;
	height: 64px;
	width: 64px;
	bottom: 0;
	left: 0;
}

.song-real-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}