{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>Culture Radio</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'webservice/style.css' %}" />
	</head>

	<body data-location-state="following">
		<div class="floats">
			
			<div class="controls">		
				<div class="audio-player">
					<div class="currently-playing">Currenly playing <a href="http://longplayer.org/">longplayer</a> (dattazzz gimeeh json)</div>
					<audio id="music" class="voice-mon" src="http://stream.spc.org:8008/longplayer" controls autoplay="autoplay">
						HTML 5 AUDIO IS REQUIRED
					</audio>
				</div>

				<div class="artist-lookup">
					<form>
						<input name="artist-list" autofocus type="text" value=""/>
						<button>Lookup</button>
					</form>
					<button class="skip">Skip</button>
				</div>
			
				<div class="position-status">
					<button class="resume-following">
						Resume auto geolocation
					</button>
					<span class="while-following">
						Status: Will update every 15 seconds. Move the marker to switch to manual mode.
					</span>
				</div>
				<div id="demo">Gelocation test!</div>
			</div>
		
			<div id="map-canvas"></div>

			<div class="playlist">
				Related Tracks
				<hr/>
				<ol class="playlist-entries">
					
				</ol>
			</div>

			<div class="clearfix"></div>

			<div class="artist-info">
				<div class="meta-info">
					<span class="artist-name"></span>
				</div>
			</div>

			<div class="track-info">
				<div class="meta-info">
					<span class="album-info"></span>
					<span class="track-name"></span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{% static 'webservice/app.js'%}"></script>

	</body>
</html>
